version: "3"
services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "5000:5000"
    volumes:
      - ./backend:/app/backend
    container_name: smart-parking-backend

  frontend:
    image: node:18
    working_dir: /app/frontend
    volumes:
      - ./frontend:/app/frontend
    command: ["npm", "start"]
    ports:
      - "3000:3000"
    depends_on:
      - backend
    container_name: smart-parking-frontend
